conda {
  cacheDir = "${params.condaCacheDir}"
}

process {
  withLabel:python { conda = "${baseDir}/environment.yml" }
  withLabel:fastqc { conda = "${baseDir}/environment.yml" }
  withLabel:trimgalore { conda = "${baseDir}/environment.yml" }
  withLabel:bwa { conda = "${baseDir}/environment.yml" }
  withLabel:samtools { conda = "${baseDir}/environment.yml" }
  withLabel:bedtools { conda = "${baseDir}/environment.yml" }
  withLabel:qualimap { conda = "${baseDir}/environment.yml" }
  withLabel:gatk { conda = "${baseDir}/environment.yml" }
  withLabel:bcftools { conda = "${baseDir}/environment.yml" }
  withLabel:snpeff { conda = "${baseDir}/environment.yml" }
  withLabel:snpsift { conda = "${baseDir}/environment.yml" }
  withLabel:vcfanno { conda = "${baseDir}/environment.yml" }
  withLabel:bgzip { conda = "${baseDir}/environment.yml" }
  withLabel:multiqc { conda = "${baseDir}/environment.yml" }

}
