params {
  genomeAnnotationPath = params.genomeAnnotationPath ?: "${baseDir}/../annotations"

  geniac {

    // Installation paths
    multiPath = params.globalPath ?: "${baseDir}/../multipath"
    path = params.globalPath ?: "${baseDir}/../path/bin"
    singularityImagePath = params.singularityImagePath ?: "${baseDir}/../containers/singularity"

    tools {
      // Add your tools available in conda here, for example:
      fastqc = "${baseDir}/recipes/conda/fastqc.yml"
      multiqc = "${baseDir}/recipes/conda/multiqc.yml"
      python = "${baseDir}/recipes/conda/python.yml"
      
      samtools = "${baseDir}/recipes/conda/samtools.yml"
      qualimap = "${baseDir}/recipes/conda/qualimap.yml"
      trimgalore = "${baseDir}/recipes/conda/trimgalore.yml"

      bwa = "${baseDir}/recipes/conda/bwa.yml"
      bedtools = "${baseDir}/recipes/conda/bedtools.yml"
      gatk = "${baseDir}/recipes/conda/gatk.yml"
      bcftools = "${baseDir}/recipes/conda/bcftools.yml"
      snpeff = "${baseDir}/recipes/conda/snpeff.yml"
      snpsift = "${baseDir}/recipes/conda/snpsift.yml"
      vcfanno = "${baseDir}/recipes/conda/vcfanno.yml"
      bgzip = "${baseDir}/recipes/conda/bgzip.yml"

    }

    // options for singularity and docker containers
    containers {
      singularityRunOptions = ""
      dockerRunOptions = ""

      // containers are based on CentOS linux
      // some tools require dependcies to be installed with 'yum install'
      // specific dependencies are listed below
      yum {
        // example of dependency:
        fastqc = 'fontconfig dejavu*'
      }

      //git {
      // keep this as syntax example
      //some_tools = 'https://github.com/some_user/some_tools::commit_hash'
      //}
    }
  }
}
