/*
 * -------------------------------------------------
 *  Nextflow config file for Genomes paths
 * -------------------------------------------------
 * Defines reference genomes
 * Can be used by any config that customises the base
 * path using $params.genomeAnnotationPath / --genomeAnnotationPath
 */

params {

  genomes {

    'hg38' {
      fasta	    = "${params.genomeAnnotationPath}/Human/hg19/genome/hg19.fa"
      bwaIndex 	    = "${params.genomeAnnotationPath}/Human/hg19/indexes/bwa/hg198"
      geneBed  	    = "$baseDir/data/0685581_covered_hgvs_extended_genesis.bed"
      nameSnpeff    = "GRCh37.75"    
      gnomad	    = "${params.genomeAnnotationPath}/Human/hg19/tool_databases/gnomad/gnomad.exomes.r2.1.1.sites.vcf.bgz"
      dbNSFP	    = "${params.genomeAnnotationPath}/Human/hg19/tool_databases/dbNSFP/dbNSFP4.1a_hg19.txt.gz"
    }


    'hg38_base' {
      fasta	    = "${params.genomeAnnotationPath}/Human/hg19_base/genome/hg19_base.fa"
      bwaIndex 	    = "${params.genomeAnnotationPath}/Human/hg19_base/indexes/bwa/hg19_base"
      geneBed  	    = "$baseDir/data/0685581_covered_hgvs_extended_genesis.bed"
      nameSnpeff    = "GRCh37.75"
      gnomad	    = "${params.genomeAnnotationPath}/Human/hg19_base/tool_databases/gnomad/gnomad.exomes.r2.1.1.sites.vcf.bgz"
      dbNSFP      = "${params.genomeAnnotationPath}/Human/hg19_base/tool_databases/dbNSFP/dbNSFP4.1a_hg19.txt.gz"

    }


  }
}