/*
 * -------------------------------------------------
 *  Nextflow config file for Genomes paths
 * -------------------------------------------------
 * Defines reference genomes
 * Can be used by any config that customises the base
 * path using $params.genomeAnnotationPath / --genomeAnnotationPath
 */

params {

  genomes {

    'hg38' {
      fasta	    = "${params.genomeAnnotationPath}/Human/hg38/genome/hg38.fa"
      bwaIndex 	    = "${params.genomeAnnotationPath}/Human/hg38/indexes/bwa/hg38"
      geneBed  	    = "$baseDir/data/bed_hg38_tumospec.bed"
      nameSnpeff    = "GRCh38.99"    
      gnomad	    = "${params.genomeAnnotationPath}/Human/hg38/tool_databases/gnomad.exomes.r2.1.1.sites.liftover_grch38/gnomad.exomes.r2.1.1.sites.liftover_grch38.vcf.bgz"
      dbNSFP	    = "${params.genomeAnnotationPath}/Human/hg38/tool_databases/dbNSFP/dbNSFP4.2a.txt.gz"
    }


    'hg38_base' {
      fasta	    = "${params.genomeAnnotationPath}/Human/hg38_base/genome/hg38_base.fa"
      bwaIndex 	    = "${params.genomeAnnotationPath}/Human/hg38_base/indexes/bwa/hg38_base"
      geneBed  	    = "$baseDir/data/bed_hg38_tumospec.bed"
      nameSnpeff    = "GRCh38.99"
      gnomad	    = "${params.genomeAnnotationPath}/Human/hg38_base/tool_databases/gnomad.exomes.r2.1.1.sites.liftover_grch38/gnomad.exomes.r2.1.1.sites.liftover_grch38.vcf.bgz"
      dbNSFP      = "${params.genomeAnnotationPath}/Human/hg38_base/tool_databases/dbNSFP/dbNSFP4.2a.txt.gz"

    }


  }
}