conda {
  cacheDir = "${params.condaCacheDir}"
}

process {
  withLabel:python { conda = "${params.geniac.tools.python}" }
  withLabel:fastqc { conda = "${params.geniac.tools.fastqc}" }
  withLabel:multiqc { conda = "${params.geniac.tools.multiqc}" }

  withLabel:trimgalore { conda = "${params.geniac.tools.trimgalore}" }
  withLabel:bwa { conda = "${params.geniac.tools.bwa}" }
  withLabel:samtools { conda = "${params.geniac.tools.samtools}" }
  withLabel:bedtools { conda = "${params.geniac.tools.bedtools}" }
  withLabel:qualimap { conda = "${params.geniac.tools.qualimap}" }
  withLabel:gatk { conda = "${params.geniac.tools.gatk}" }
  withLabel:bcftools { conda = "${params.geniac.tools.bcftools}" }
  withLabel:snpeff { conda = "${params.geniac.tools.snpeff}" }
  withLabel:snpsift { conda = "${params.geniac.tools.snpsift}" }
  withLabel:vcfanno { conda = "${params.geniac.tools.vcfanno}" }
  withLabel:bgzip { conda = "${params.geniac.tools.bgzip}" }

}
