/*
 * -------------------------------------------------
 *  Nextflow config file for running tests
 * -------------------------------------------------
 * Defines bundled input files and everything required
 * to run a fast and simple test. Use as follows:
 * nextflow run main.nf -profile test
 */

params {
  // Limit resources for tests
  maxCpus = 2
  maxMemory = 8.GB
  maxTime = 1.h

 // Input data
 // TODO - Edit test data
//  readPaths = [
//   ['test1', ["$HOME/tumospec/nextflow/test/data/B00GW8J_R1.fastq.gz", "$HOME/tumospec/nextflow/test/data/B00GW8J_R2.fastq.gz"]],
  //  ['test2', ["$HOME/tumospec/nextflow/test/data/B00GW8H_R1.fastq.gz", "$HOME/tumospec/nextflow/test/data/B00GW8H_R2.fastq.gz"]]
//   ]

  // Sample Plan - to use instead of readPaths
  samplePlan = "$baseDir/test/samplePlan.csv"

  // Annotations
  genome =  'hg38'
}
